@model IEnumerable<ListDeletedQuestionsServiceModel>

@foreach (var question in Model)
{
    <div class="well">
        <h3>
            <a href="#">@question.Title</a>
        </h3>
        <hr />
        <div>
            <img class="site-image" src="@question.AuthorProfileImage" alt="Author Image" width="25" height="25" />
            @question.AuthorUsername
            <span class="glyphicon glyphicon-calendar site-glyphicon"></span>
            @question.DateAdded.ToShortDateString()
            <span class="glyphicon glyphicon-folder-open site-glyphicon"></span>
            <a href="@Url.Action("BySubCategory", "Questions", new { area = string.Empty, id = question.SubCategoryId })">@question.SubCategoryName</a>
            <hr />
            <span class="glyphicon glyphicon-hand-up text-success site-glyphicon"></span>
            @question.UpVotes
            <span class="glyphicon glyphicon-hand-down text-danger site-glyphicon"></span>
            @question.DownVotes
            <span class="glyphicon glyphicon-eye-open site-glyphicon"></span>
            @question.ViewCount
            <span class="glyphicon glyphicon-share-alt site-glyphicon"></span>
            @question.AnswersCount
            <hr />
            Last Activity:
            @if (question.AnswersCount > 0)
            {
                <span class="glyphicon glyphicon-calendar site-glyphicon"></span>
                @question.LastAnswerDate
                <img class="last-user-image" src="@question.LastUserProfileImage" alt="Last User Image" width="25" height="25" />
                @question.LastUserUsername
            }
            else
            {
                <span>No answers for this question</span>
            }
            @if (question.IsDeleted && !question.IsSubCategoryDeleted)
            {
                <hr />
                using (Html.BeginForm("Restore", "Questions", new { area = WebConstants.ModeratorArea }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden(nameof(question.Id), question.Id)
                    <input class="btn btn-default" type="submit" value="Restore" />
                }
            }
        </div>
    </div>
}