@model IEnumerable<MenuCategoryServiceModel>

<ul class="nav nav-pills nav-stacked">
    @foreach (var category in Model)
    {
        if (ViewBag.CategoryId == category.Id)
        {
            <li role="presentation" class="active">
                <a href="@Url.Action("Index", "Questions", new { area = string.Empty, categoryId = category.Id })">@category.Name</a>
            </li>
        }
        else
        {
            <li role="presentation">
                <a href="@Url.Action("Index", "Questions", new { area = string.Empty, categoryId = category.Id })">@category.Name</a>
            </li>
        }

        foreach (var subCategory in category.SubCategories)
        {
            if (ViewBag.SubCategoryId == subCategory.Id)
            {
                <li role="presentation" class="active">
                    <a class="col-md-offset-2" href="@Url.Action("Index", "Questions", new { area = string.Empty, subCategoryId = subCategory.Id })">@subCategory.Name</a>
                </li>
            }
            else
            {
                <li role="presentation">
                    <a class="col-md-offset-2" href="@Url.Action("Index", "Questions", new { area = string.Empty, subCategoryId = subCategory.Id })">@subCategory.Name</a>
                </li>
            }
        }
    }
</ul>