@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            @Html.AntiForgeryToken()

            @if (User.IsInRole(CommonConstants.AdminRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="admin" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu " aria-labelledby="admin">
                        <li class="dropdown-item">
                            @Html.ActionLink("Users", "Users", "Users", new { area = "Admin" }, new { @class = "dropdown-link" })
                        </li>
                        <li class="dropdown-item">
                            @Html.ActionLink("Logs", "Logs", "Users", new { area = "Admin" }, new { @class = "dropdown-link" })
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole(CommonConstants.ModeratorRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="moderator" aria-expanded="false">Moderator<span class="caret"></span></a>
                    <ul class="dropdown-menu " aria-labelledby="moderator">
                        <li class="dropdown-item">
                            @Html.ActionLink("Categories", "All", "Categories", new { area = WebConstants.ModeratorArea }, new { @class = "dropdown-link" })
                        </li>
                        <li class="dropdown-item">
                            @Html.ActionLink("Reported", "Reported", "Questions", new { area = WebConstants.ModeratorArea }, new { @class = "dropdown-link" })
                        </li>
                        <li class="dropdown-item">
                            @Html.ActionLink("Deleted", "Deleted", "Questions", new { area = WebConstants.ModeratorArea }, new { @class = "dropdown-link" })
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a href="@Url.Action("Create", "Questions", new { area = string.Empty })">New Question</a>
            </li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}